{% extends "base.html" %}

{% block content %}
    <h1>{{_( title ) | title}}</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label(class="form-check-label") }}
                {{ form.post(cols=32, rows=4, class="form-control") }}
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             {{ form.submit(class="btn btn-secondary") }}
        </form>
        {% endif %}
    <hr>
    <ol class="list-group">
        {% for post in posts %}
            {% include '_post.html' %} 
        {% endfor %}
    </ol>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a href="{{ url_for('main.explore') }}" class="bi bi-search page-link"></a>
            </li>
            <li class="page-item">
            <a  href="{{ prev_url if prev_url else '' }}" class="page-link">Previous</a>
            </li>
            

            <li class="page-item">
            <a class="page-link" href="{{ next_url if next_url else '' }}">Next</a>
            </li>
        </ul>
    </nav>

   
{% endblock %}