{% extends "base.html" %}

{% block content %}
    <h1>{{_('Hello,')}} {{ current_user.username | title }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label(class="form-check-label") }}
                {{ form.post(cols=32, rows=4, class="form-control") }}
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             {{ form.submit(class="btn btn-secondary") }}
        </form>
        {% endif %}
    <hr>
    <ol class="list-group">
        {% for post in posts %}
            {% include '_post.html' %} 
            {% if current_user.id == post.user_id %}
            {% endif %}
        {% endfor %}
    </ol>
    
    {% if next_url %}
    <a href="{{ next_url }} "class="btn btn-dark bi bi-arrow-left-square"></a>  
    {% endif %}
    {% if prev_url %}
    <a href="{{ prev_url }} "class="btn btn-dark bi bi-arrow-right-square"></a>  
    {% endif %}
    {% if form %}<a href="{{ url_for('main.explore') }} "class="btn btn-dark bi bi-signpost-split">{{_('Explore')}}</a>{% endif %}
{% endblock %}